 
    <div class="min-h-screen relative bg-[conic-gradient(at_top_left,_var(--tw-gradient-stops))] from-[#beebe9] via-[#f4dada] to-[#ffb6b9]">
        <div class="relative lg:py-12 lg:px-4 p-2">
            <div class="md:max-w-lg mx-auto  bg-white/50 backdrop-blur-sm rounded-md overflow-hidden shadow-sm">
                <div class="p-8">
                    <!-- Profile Image -->
                    <div class="flex justify-center">
                        <div class="w-24 h-24 {{data_get(options, 'logoRadius', 'rounded-lg')}} overflow-hidden bg-gray-100">
                            <img src="{{ tenant('logo') }}" alt="{{ tenant('name') }}" class="w-full h-full object-cover">
                        </div>
                    </div>
     
                    <!-- Profile Info -->
                    <div class="mt-3 text-center">
                        <h1 class="text-xl font-bold text-gray-900" >{{ tenant('name') }}</h1>
                        <p class="text-xs lg:text-sm text-gray-500 mt-1">{{ tenant('meta.slogan.'~locale()) }}</p>
                    </div>
     
                    <div>
                        {% if socialLinks | length %}
                        <div class="flex items-center gap-x-3 mt-5 overflow-x-auto w-full justify-center">
                            {% for link in socialLinks %}
                            <a href="{{data_get(link, 'link')}}" target="_blank" class="flex items-center  text-black/30  p-2  rounded-full bg-{{data_get(options, 'primaryColor', 'gray')}}-500/10 hover:bg-{{data_get(options, 'primaryColor', 'gray')}}-200 hover:text-black/40">
                                <span class="size-5">
                                    <img src="{{ asset('assets/icons/social/brand-'~data_get(link, 'name')~'.svg') }}" alt="{{ data_get(link, 'name') }}" class="w-full h-full text-black/30">
                                </span>
                            </a>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
    
                    <div class="mt-8 flex flex-col space-y-2">
                        {% for link in links %}
                            <a href="{{ link.link }}" target="_blank" class="w-full flex items-center justify-center text-white  !bg-{{data_get(options, 'primaryColor', 'gray')}}-900 hover:!bg-{{data_get(options, 'primaryColor', 'gray')}}-800 !{{data_get(options, 'buttonRadius', 'rounded-full')}}  !py-4">
                                {{ link.name }}                                  
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
       

    </div>
  
 