<header class="py-2 bg-white sm:py-3" x-data="{expanded: false}">
    <div class="px-4 sm:px-6 lg:px-8 container mx-auto">
        <div class="flex items-center justify-between">
            <div class="shrink-0">
                <a href="{{route('sitefront.home')}}" wire:navigate title="" class="flex items-center gap-x-3 text-2xl font-bold">
                    {% if site('logo') %}
                    <img class="w-auto h-7" src="{{site('logo')}}" alt="" />
                    {% endif %}
                    {{site('name')}}
                </a>
            </div>
    
            <div class="hidden md:flex md:items-center md:gap-x-3 md:justify-end">    
                {% for page in page.get() %} 
                    <a href="{{route('sitefront.page', {slug : page.slug})}}" wire:navigate.hover class="inline-flex items-center justify-center px-4 py-2.5 text-base font-medium text-gray-900 transition-all duration-200 border border-transparent rounded-full hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-ring-300" wire:current="bg-{{options.primaryColor ?? 'primary'}}-500 !hover:bg-{{options.primaryColor ?? 'primary'}}-500 !text-white">
                        <span class="text-gray-700x"> {{t(page.title)}} </span> 
                    </a>
                {% endfor %}   
            </div>

            <div class="flex ms-4 md:hidden">
                <button
                    type="button"
                    class="inline-flex items-center p-2.5 duration-200 bg-gray-200 border border-transparent rounded-full hover:bg-gray-300 transiton-all focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300"
                    @click="expanded = !expanded"
                    :aria-expanded="expanded"
                >
                    <span x-show="!expanded" aria-hidden="true">
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                    </span>

                    <span x-show="expanded" aria-hidden="true">
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </span>
                </button>
            </div>
        </div>
    </div>


    <div class="relative">
        <div x-show="expanded" class="w-full absolute top-2 left-0 bg-white p-3 pt-6"> 
            {% for page in page.get() %} 
                <a href="{{route('sitefront.page', {slug : page.slug})}}" wire:navigate.hover class="w-full flex items-center justify-center rounded-lg px-4 py-2.5 text-base font-medium text-gray-900 transition-all duration-200 border border-transparent hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-ring-300" wire:current="bg-primary-500 hover:bg-primary-500 !text-white">
                    <span class="text-gray-700x"> {{t(page.title)}} </span> 
                </a>
            {% endfor %}  
        </div>
    </div>

</header>
