<div class="min-h-screen bg-{{ options.primaryColor ?? 'primary' }}-900 relative overflow-hidden" x-data="{ menuOpen: false }" x-effect="document.body.style.overflow = menuOpen ? 'hidden' : 'auto'">
   
    <!-- Blurred Background -->
    <div class="absolutex fixed inset-0 z-0 bg-[conic-gradient(at_top,_var(--tw-gradient-stops))] from-{{ options.primaryColor ?? 'primary' }}-800 via-black/80 to-{{ options.primaryColor ?? 'primary' }}-900">
        <svg class="absolute opacity-80 inset-0 -z-10 size-full mask-[radial-gradient(100%_100%_at_top_right,white,transparent)] stroke-white/5" aria-hidden="true">
            <defs>
            <pattern id="983e3e4c-de6d-4c3f-8d64-b9761d1534cc" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
                <path d="M.5 200V.5H200" fill="none"></path>
            </pattern>
            </defs> 
            <svg x="50%" y="-1" class="overflow-visible fill-white/5">
            <path d="M-200 0h201v201h-201Z M600 0h201v201h-201Z M-400 600h201v201h-201Z M200 800h201v201h-201Z" stroke-width="0"></path>
            </svg>
            <rect width="100%" height="100%" stroke-width="0" fill="url(#983e3e4c-de6d-4c3f-8d64-b9761d1534cc)"></rect>
        </svg> 
    </div>
 

    <!-- Contact Card -->
    <div class="relative md:my-4 z-10 flex flex-col items-center md:max-w-2xl md:rounded-2xl w-full md:border-4 border-black/20 mx-auto">

        {{renderBlock('links')}}
    
        {% include 'theme::_language-buttons' %}

        <!-- Header Image -->
        <div class="w-full min-h-[6rem] object-cover md:rounded-t-xl bg-[radial-gradient(ellipse_at_bottom_right,_var(--tw-gradient-stops))] from-{{ options.primaryColor ?? 'primary' }}-600 via-{{ options.primaryColor ?? 'primary' }}-700 to-{{ options.primaryColor ?? 'primary' }}-900 relative">
        
            {{renderBlock('links', 'links-mobile')}}
                
            {% include 'theme::_language-buttons-mobile' %}

            {% if tenant('cover') %}
                <img src="{{ tenant('cover') }}" 
                    alt="BMW Cars Header" 
                    class="w-full min-h-48 max-h-56 object-cover md:rounded-t-xl shadow-lg">
            {% endif %}
        </div>

        <div class="md:max-w-2xl w-full Xborder-b-4 border-white/90 bg-white py-4 lg:rounded-b-xl  z-50">
 
            {% include 'theme::_header' %}

            {{renderBlock('cta')}}

            <div class="flex flex-col gap-y-10 Xdivide-y-2 divide-gray-200 divide-dashed">
                {{renderBlockComponent('about')}}
                {{renderBlockComponent('features')}}
                {# {{renderBlockComponent('services')}} #}
                {{renderBlock('reviews')}}
                {{renderBlockComponent('faq')}}
                {{renderBlock('portfolio')}}
                {# {{renderBlockComponent('contact-info')}} #}
            </div>
           
        </div>
    </div>
</div>