<!DOCTYPE html>
<html dir="{{ locale() == 'ar' ? 'rtl' : 'ltr' }}" lang="{{ str_replace('_', '-', locale()) }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta name="description" content="{{ site('slogan') }}">
    <meta name="theme-color" content="{{primaryColorCode()}}">
    <meta name="msapplication-navbutton-color" content="{{primaryColorCode()}}">
    <meta name="apple-mobile-web-app-status-bar-style" content="{{primaryColorCode()}}">
    <link rel="icon" type="image/x-icon" href="{{ tenant('logo') ?: asset('assets/images/broshur-logo-shape.webp') }}?width=50">
 
    <link rel="preload" as="script" href="{{ asset('assets/js/twind.min.js') }}">
    <link rel="preload" as="script" href="{{ asset('assets/js/twind.custom.js') }}">
    {# <link rel="preload" as="font" href="{{ asset('assets/fonts/ibmps/IBMPlexSansArabic-SemiBold.ttf?v=1.1') }}">
    <link rel="preload" as="font" href="{{ asset('assets/fonts/ibmps/IBMPlexSansArabic-Regular.ttf?v=1.1') }}"> #}
    <link rel="preload" as="image" href="{{ asset('assets/images/broshur-logo-shape.webp') }}">
    <link rel="preload" as="image" href="{{site('logo')}}">
    <script src="{{ asset('assets/js/twind.min.js') }}"></script>
    <script src="{{ asset('assets/js/twind.custom.js') }}"></script>
    <script data-host="https://analytics.test" data-dnt="false" src="https://analytics.test/js/script.js" id="ZwSg9rf6GA" async defer></script>
 
    <title>
            {% if title %} {{ title }} | {% endif %} {{ site('name') }} 
         {{ site('slogan') ? ' | ' ~ site('slogan') : '' }}
    </title>
    <script>
        let config = {
            ...{{ siteStyle() }},
                ...customTwindconf
            };
        twind.install(config);
    </script>
   <style>
        html {
            scroll-behavior: smooth;
        }
    </style>

    {% if production() %}
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-FGLEWMFNLV"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-FGLEWMFNLV');
        </script>
    {% endif %}

</head>
 
<body class="">
   
    <main>
         {{slot}}    
    </main>
</body>
</html>