{% if isActive('storefront.home') %}
<div class="lg:max-w-5xl mx-auto lg:my-2 lg:rounded-3xl lg:p-0.5x">
    <div class="relative">
        <div class="bg-gradient-to-br from-primary-300/30 to-transparent absolute backdrop-blur-smX w-full h-full lg:rounded-2xl"></div>
        {% if options.headerImage %}
            <img class="h-32 w-full object-cover object-center lg:h-56 lg:rounded-2xl " src="{{mediaUrl(options.headerImage)}}" alt="">            
        {% else %}
            <div class="bg-gradient-to-tr from-primary-500 to-primary-800 h-32 lg:h-48 w-full lg:rounded-3xl overflow-hidden"></div>
        {% endif %}
    </div>

    <div class="relativex">
        <div class="flex flex-col items-center justify-center mx-auto relative z-10">
            <a href="{{route('storefront.home')}}" wire:navigate class="block mx-auto text-center">
                <img src="{{site.logo}}?class=logo" alt="logo" class="lg:w-24 lg:h-24 lg:-mt-16 -mt-10 h-16 w-16 object-cover {{options.logoRadius ?? 'rounded-full'}}  mx-auto ring-0 ring-black/10">
                <h1 class="text-2xl font-bold mt-2 lg:mt-3">{{ site.name }}</h1>
            </a>
            <p class="text-black/40 text-xs mt-2 mx-auto max-w-xs text-center">{{ site.slogan }}</p>
        </div>
    </div>
</div> 
{% endif %}
 
 
<nav class="flex items-center lg:justify-center relative mt-5 lg:mt-5 px-1 lg:px-0 mb-2 lg:mb-2 text-gray-800 shrink-0 bg-white mx-1 rounded-lg lg:bg-transparent">
 
    {% if not isActive('storefront.home')  %}
        <div class="flex items-center gap-x-2 rtl:ml-auto ltr:mr-auto shrink-0 ps-2 lg:ps-0">
            <a href="{{route('storefront.home')}}" wire:navigate.hover class="flex items-center  gap-x-1.5 me-3 mr-auto">
                <img src="{{site.logo}}" alt="logo" class="h-8 w-8 object-cover {{options.logoRadius ?? 'rounded-full'}} ">
                <h1 class="text-sm font-semibold hidden lg:block">{{ site.name }}</h1>
            </a>
        </div>
    {% endif %}


    <div class="bg-white hidden lg:block  p-1 rounded-s-lg lg:rounded-s-full  lg:rounded-e-none   px-2">
        <a href="{{route('storefront.home')}}" wire:navigate.hover class="lg:h-8 rounded-lg lg:rounded-full shrink-0 flex items-center gap-x-1 py-2 lg:py-1 px-3 hover:bg-primary-500/10" wire:current.exact="!bg-primary-500 !text-white">
            {{icon('home-bolt', 6, 'lg:size-5')}}
        </a>
    </div>
 
  
    {% if page.get() | length %}
    <div class="bg-white w-full  rounded-e-full  p-1 flex items-center overflow-x-auto gap-x-1 scroll-px-10 scroll-ps-10 lg:border-r border-black/5 lg:ps-2"> 
        {% for page in page.get() %} 
            <a href="{{route('storefront.page', {slug : page.slug})}}" wire:navigate.hover class="lg:h-8 rounded-lg lg:rounded-full shrink-0 flex items-center gap-x-1.5 py-2 lg:py-1 px-3 hover:bg-primary-500/10" wire:current="!bg-primary-500 !text-white">
                {{ icon('file', 5) }}
                <span class="text-gray-700x"> {{t(page.title)}} </span> 
            </a>
        {% endfor %} 
    </div>
    {% else  %}
        <div class="w-2 h-11"></div>
    {% endif %}


 
 

  
</nav>