<!-- About Section -->
<div class="pt-10 px-5">
    {% if title %}
    <h3 class="text-base font-bold text-gray-900 mb-4 -mx-5 rtl:border-r-4 rtl:border-{{ option('primaryColor', 'blue') }}-800 ltr:border-l-[6px] ltr:border-{{ option('primaryColor', 'blue') }}-800 ps-4  py-3 bg-gray-50 w-full">   
         {{title}}
    </h3>
    {% endif %}
    
    <p class="text-gray-600 text-sm font-thin leading-relaxed {{editorStyle()}}">
        {{text}}
        {# {{renderEditorJs(text|json_encode)|raw}} #}
        
    </p>

</div>
 
