
<!-- Client Testimonials Section -->
<div class="px-5" x-data="{ currentSlide: 0, testimonials: {{reviews|json_encode}} }">


<!-- Testimonials Slider -->
<div class="relative">

    <div class="flex items-center justify-between mb-6">
        {# <h3 class="text-lg font-bold text-gray-900 "> قالوا عنا </h3> #}
        <h3 class="text-base font-bold text-gray-900 -mx-5 rtl:border-r-4 rtl:border-{{ option('primaryColor', 'blue') }}-800 ltr:border-l-[6px] ltr:border-{{ option('primaryColor', 'blue') }}-800 ps-4 py-3 bg-gray-50 w-full"> قالوا عنا</h3>

        <!-- Navigation Arrows -->
       
        <div x-show="testimonials.length > 1" class="flex justify-end gap-1">
            <button 
                @click="currentSlide = currentSlide > 0 ? currentSlide - 1 : testimonials.length - 1"
                class="size-8 bg-white border border-{{ option('primaryColor', 'blue') }}-600 rounded-md flex items-center justify-center hover:bg-gray-50 transition-colors"
            >
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-{{ option('primaryColor', 'blue') }}-600 rtl:rotate-180" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                </svg>
            </button>
            
            <button 
                @click="currentSlide = currentSlide < testimonials.length - 1 ? currentSlide + 1 : 0"
                class="size-8 bg-{{ option('primaryColor', 'blue') }}-600 border border-{{ option('primaryColor', 'blue') }}-600 rounded-md flex items-center justify-center hover:bg-{{ option('primaryColor', 'blue') }}-700 transition-colors"
            >
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-white rtl:rotate-180" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" class="text-{{ option('primaryColor', 'blue') }}-600">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                </svg>
            </button>
        </div>
       
    </div>
    
    <!-- Testimonial Container -->
    <div class="overflow-hidden">
        <div 
            class="flex transition-transform duration-300 ease-in-out"
            :class="'{{ locale() == 'ar' ? 'flex-row-reverse' }}'"
            :style="`transform: translateX(-${currentSlide * 100}%)`"
        >
            <template x-for="(testimonial, index) in testimonials" :key="index">
                <div class="w-full flex-shrink-0">
                    <div class="bg-gray-50 rounded-2xl p-5">
                        <!-- Quote Icon -->
                        <div class="mb-4 flex items-center justify-between">
                            <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-quote size-8 rtl:rotate-180" viewBox="0 0 16 16">
                                <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388q0-.527.062-1.054.093-.558.31-.992t.559-.683q.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 9 7.558V11a1 1 0 0 0 1 1zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612q0-.527.062-1.054.094-.558.31-.992.217-.434.559-.683.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 3 7.558V11a1 1 0 0 0 1 1z"/>
                            </svg>
                            
                            <!-- Stars Rating -->
                            <div class="flex items-center gap-1 mb-4">
                                <template x-for="i in testimonial.score" :key="i">
                                    <svg viewBox="0 0 24 24" class="size-5 text-yellow-500" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9.15316 5.40838C10.4198 3.13613 11.0531 2 12 2C12.9469 2 13.5802 3.13612 14.8468 5.40837L15.1745 5.99623C15.5345 6.64193 15.7144 6.96479 15.9951 7.17781C16.2757 7.39083 16.6251 7.4699 17.3241 7.62805L17.9605 7.77203C20.4201 8.32856 21.65 8.60682 21.9426 9.54773C22.2352 10.4886 21.3968 11.4691 19.7199 13.4299L19.2861 13.9372C18.8096 14.4944 18.5713 14.773 18.4641 15.1177C18.357 15.4624 18.393 15.8341 18.465 16.5776L18.5306 17.2544C18.7841 19.8706 18.9109 21.1787 18.1449 21.7602C17.3788 22.3417 16.2273 21.8115 13.9243 20.7512L13.3285 20.4768C12.6741 20.1755 12.3469 20.0248 12 20.0248C11.6531 20.0248 11.3259 20.1755 10.6715 20.4768L10.0757 20.7512C7.77268 21.8115 6.62118 22.3417 5.85515 21.7602C5.08912 21.1787 5.21588 19.8706 5.4694 17.2544L5.53498 16.5776C5.60703 15.8341 5.64305 15.4624 5.53586 15.1177C5.42868 14.773 5.19043 14.4944 4.71392 13.9372L4.2801 13.4299C2.60325 11.4691 1.76482 10.4886 2.05742 9.54773C2.35002 8.60682 3.57986 8.32856 6.03954 7.77203L6.67589 7.62805C7.37485 7.4699 7.72433 7.39083 8.00494 7.17781C8.28555 6.96479 8.46553 6.64194 8.82547 5.99623L9.15316 5.40838Z" fill="currentColor"></path> </g></svg>

                                </template>
                                <template x-for="i in 5 - testimonial.score" :key="i">
                                    <svg viewBox="0 0 24 24" fill="none" class="size-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9.15316 5.40838C10.4198 3.13613 11.0531 2 12 2C12.9469 2 13.5802 3.13612 14.8468 5.40837L15.1745 5.99623C15.5345 6.64193 15.7144 6.96479 15.9951 7.17781C16.2757 7.39083 16.6251 7.4699 17.3241 7.62805L17.9605 7.77203C20.4201 8.32856 21.65 8.60682 21.9426 9.54773C22.2352 10.4886 21.3968 11.4691 19.7199 13.4299L19.2861 13.9372C18.8096 14.4944 18.5713 14.773 18.4641 15.1177C18.357 15.4624 18.393 15.8341 18.465 16.5776L18.5306 17.2544C18.7841 19.8706 18.9109 21.1787 18.1449 21.7602C17.3788 22.3417 16.2273 21.8115 13.9243 20.7512L13.3285 20.4768C12.6741 20.1755 12.3469 20.0248 12 20.0248C11.6531 20.0248 11.3259 20.1755 10.6715 20.4768L10.0757 20.7512C7.77268 21.8115 6.62118 22.3417 5.85515 21.7602C5.08912 21.1787 5.21588 19.8706 5.4694 17.2544L5.53498 16.5776C5.60703 15.8341 5.64305 15.4624 5.53586 15.1177C5.42868 14.773 5.19043 14.4944 4.71392 13.9372L4.2801 13.4299C2.60325 11.4691 1.76482 10.4886 2.05742 9.54773C2.35002 8.60682 3.57986 8.32856 6.03954 7.77203L6.67589 7.62805C7.37485 7.4699 7.72433 7.39083 8.00494 7.17781C8.28555 6.96479 8.46553 6.64194 8.82547 5.99623L9.15316 5.40838Z" stroke="currentColor" stroke-width="1.5"></path> </g></svg>

                                </template>
                            </div>
                        </div>
                        
                        <!-- Review Text -->
                        <p class="text-gray-700 text-base leading-relaxed ms-4 mb-6 whitespace-pre-line" x-text="testimonial.review_text"></p>
                        
                            
                        <!-- Client Info -->
                        <div class="flex items-center gap-3">
                            <!-- Avatar -->
                            <div :class="`w-12 h-12 bg-gradient-to-br from-{{ option('primaryColor', 'blue') }}-400 to-{{ option('primaryColor', 'blue') }}-600 rounded-full flex items-center justify-center flex-shrink-0`">
                                {# <span class="text-white font-bold text-lg"  x-text="testimonial.client_email|first"></span>  #}
                            </div>
                            
                            <div>
                                <!-- Customer Name -->
                                <div class="text-gray-900 font-bold text-sm" x-text="testimonial.client_name"></div>
                                <div class="text-gray-500 text-xs" x-text="testimonial.client_email"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
</div>

    <!-- Dots Indicator -->
    
    <div x-show="testimonials.length > 1" class="flex justify-center mt-8 gap-2">
        <template x-for="(testimonial, index) in testimonials" :key="index">
            <button 
                @click="currentSlide = index"
                :class="`w-2 h-2 rounded-full transition-colors ${currentSlide === index ? 'bg-{{ option('primaryColor', 'blue') }}-600 text-white' : 'bg-gray-300'}`"
            ></button>
        </template>
    </div>
 
</div>
  
</div>

